{{#with nav}}
<ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-messages">
            {{#each messages}}
                <li>
                    <a href="#">
                        <div>
                            <strong>{{author}}</strong>
                            <span class="pull-right text-muted">
                                <em>Yesterday</em>
                            </span>
                        </div>
                        <div>{{body}}</div>
                    </a>
                </li>
                <li class="divider"></li>
            {{/each}}
        <!-- /.dropdown-messages -->
        </ul>
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-tasks">
            {{#each tasks}}
                <li>
                    <a href="#">
                        <div>
                            <p>
                                <strong>Task {{id}}</strong>
                                <span class="pull-right text-muted">{{percent}}% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-{{status}}" role="progressbar" aria-valuenow="{{percent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{percent}}%">
                                    <span class="sr-only">{{percent}}% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
            {{/each}}
            <li>
                <a class="text-center" href="#">
                    <strong>See All Tasks</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-tasks -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            {{#each notifications}}
                <li>
                    <a href="#">
                        <div>
                            <i class="fa {{icon}} fa-fw"></i> {{title}}
                            <span class="pull-right text-muted small">{{time}}</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
            {{/each}}
            <li>
                <a class="text-center" href="#">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            {{#each profile_options}}
                {{#is title "==" "Logout"}}
					<li class="divider"></li>
				{{/is}}
                <li><a href="#"><i class="fa {{icon}} fa-fw"></i> {{title}}</a></li>
            {{/each}}
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
{{/with}}
