<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Responsive Timeline
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="timeline">
            {{#each timeline}}
                <li {{#if inverted}} class="timeline-inverted" {{/if}}>
                    {{#if icon}}
                        <div class="timeline-badge {{#if status}}{{status}}{{/if}}">
                            <i class="fa {{icon}}"></i>
                        </div>
                    {{/if}}
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">{{title}}</h4>
                            {{#if time}}
                                <p>
                                    <small class="text-muted"><i class="fa fa-clock-o"></i>{{time}}</small>
                                </p>
                            {{/if}}
                        </div>
                        <div class="timeline-body">
                            <p>{{body}}</p>
                            {{#if actions}}
                            <hr>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-gear"></i>  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {{#each actions}}
                                    <li><a href="#">{{this}}</a>
                                    </li>
                                    {{/each}}
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a>
                                    </li>
                                </ul>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>
    <!-- /.panel-body -->
</div>
